<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sistema de alertas</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>





<div class="container">
  <div class="mt-3">
    <h1>Sistema de alertas</h1>
  </div>
  <p class="lead">Sistema irá alertar quando alguém passar próximo a algum sensor.</p>


  <div *ngFor="let item of (items | async )" class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="exibido(item)">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Sensor: {{item.sensor}} {{item.tempo}}</strong> 
  </div>

</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Sistema de alertas.</span>
  </div>
</footer>

