<div class="container">
  <div class="row mt-3">

    <h1 style="Margin: 0 auto; ">Gráficos gerados em tempo real</h1>

    <!-- <div *ngFor="let node of nodes | async">
      {{node.nodeMCU}}
    </div> -->


  </div>
  <div class="row mt-3">

    <p class="form-group">NODE MCU</p>
    <select class="form-control form-group custom-select" [(ngModel)]="selectedNode">
      <option value="TODOS">TODOS</option>
      <option *ngFor="let node of nodes | async" value="{{node.nome}}">{{node.nome}}</option>
    </select>


    <p class="form-group">Data Inicial</p>
    <input type="date" class="form-control form-group" [(ngModel)]="dataPesquisa.inicial">
    <p class="form-group">Data Final</p>
    <input type="date" class="form-control form-group" [(ngModel)]="dataPesquisa.final">
    <input type="button" value="Buscar" (click)="atualizar()" class="btn btn-secondary">
  </div>
  <div class="row" style="padding-top: 60px">



    <canvas id="myChart" width="700" height="400"></canvas>



  </div>
</div>